Data/NoSQL/Client/Service References/RavenDBProvider/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RavenConnection">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RavenConnection" nillable="true" type="tns:RavenConnection" />
  <xs:complexType name="TrialData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfParameter" />
      <xs:element minOccurs="0" name="StressNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrialData" nillable="true" type="tns:TrialData" />
  <xs:complexType name="ArrayOfParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameter" nillable="true" type="tns:ArrayOfParameter" />
  <xs:complexType name="Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrialNumber" type="xs:long" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameter" nillable="true" type="tns:Parameter" />
  <xs:complexType name="ArrayOfTrialData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrialData" nillable="true" type="tns:TrialData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrialData" nillable="true" type="tns:ArrayOfTrialData" />
</xs:schema>