Data/NoSQL/Client/Service References/RavenDBProvider/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="PostTrialData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ravenConnection" nillable="true" type="q1:RavenConnection" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="trialData" nillable="true" type="q2:TrialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTrialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostTrialDataResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertTrialData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ravenConnection" nillable="true" type="q3:RavenConnection" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="trialBatch" nillable="true" type="q4:ArrayOfTrialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertTrialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BulkInsertTrialDataResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadTrialData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ravenConnection" nillable="true" type="q5:RavenConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadTrialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ReadTrialDataResult" nillable="true" type="q6:TrialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>